#topbar {
    text-align: right;
    margin:20px 10px 0px 0px;
    text-decoration:none;
    min-width: 1200px;
}
.links {
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 13px;
    font-family: Arial;
    font-style: normal;
}
#g1image {
    text-align: center;
    margin-top: 100px;
    min-width: 1200px;
}
#search {
    text-align:center;
    min-width: 1200px;
}
#bar1{
    width: 600px;
    border-radius: 25px;
    height: 45px;
    border: 1px solid rgb(172, 172, 172);
    background-image: url(icon.jpg), url(icon2.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: 18px, 16px;
    background-position: 3% 50%, 97% 50%;
    padding: 0px 50px 0px 50px;
    font-size: 16px;
}
.buttons {
    widows: 100px;
    margin: 25px 5px 0px 5px;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    border: none;
    padding: 10px;
    font-size: 14px;
    color:  rgb(100, 100, 100);
    
}

.buttons:hover {
    color: black;
    background-color: rgb(231, 231, 231);
    border: 1px rgb(100, 100, 100);
    border-radius: 5px;
}

#g2image {
    text-align: center;
    margin: 200px 0px 0px 0px;
    min-width: 1200px;
}

#bar2 {
    width: 600px;
    padding-left: 50px;
    padding-right: 175px;
    border-radius: 30px;
    border: 1px solid rgb(172, 172, 172);
    height: 45px;
    font-size: 16px;
    background-image: url(icon.jpg), url(iconcamera.jpg), url(icon2.jpg), url(iconblue.jpg);
    background-repeat: no-repeat;
    background-position: 3%, 81%, 88%, 98%;
    background-size: 20px, 75px, 18px, 40px;
    margin-top: 20px;
    box-sizing: border-box;
}